extends layout

block content
    h1= title
    video(id="video", controls)
        source(src="#{path}.mp4", type="video/mp4")
        source(src="#{path}.ogg", type="video/ogg")
        source(src="#{path}.webm", type="video/webm")
        p Your browser doesn't support the video element

    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/videosockets.js")

