extends layout

block content
    h1= title
    video(id="video", controls)
        source(src=path, type="video/mp4")
        p Your browser doesn't support the video element

    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/videosockets.js")

